:root {
  --font-size-xs: clamp(0.64rem, 0.05vw + 0.63rem, 0.67rem);
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  }

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1{
  margin-top: 0;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
h2{
  font-size: var(--font-size-md);
}
h3{
  font-size: var(--font-size-base);
}
h4 {
  font-size: var(--font-size-sm);
}
h5{
  font-size: var(--font-size-xs);
}
p {
  font-size: var(--font-size-base);
}

.button {
  background-color: black;
  font-size: x-small;
}
